@charset "utf-8";

html {
	height: 100%;
	margin: 0; padding: 0; border: 0;
	background-color: white;
}

body {
	margin: 0px auto auto auto;
	width: 100%;
	min-width: 320px;
	background-color: white;
	font-family:  Verdana, sans-serif;
	font-size: 32px;

}
artical{
	font-size: 1.0em;
}
body > header > nav > ul {
	display: block;
	width: 100%;
	background-color: black;
	height:	30px;
}

body > header > nav > ul > li {
	display: block;
	width: 15%;
	float: right;
	font-size: 1.0em;
	color: white; 
	height: 100%;
	text-align: center;
	vertical-align:middle;
}

body > header > nav > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	text-decoration: none;
}

body > header > nav > ul > li > a:visited {
	color: white;
}

body > header > nav > ul > li > a:hover {
	color: white;
	background-color: red;
}

body > header > nav > ul > li > a:active {
	color: white;
	background-color: #c20563;
}

body section header h1 {
	font-size: 2.0em;
	color: black;
}

body section {
	width: 92%;
	margin: 0 auto;
}

body section header p:first-of-type {
	float: right;
	font-size: 0.65em;
	margin: -15px 0px 0px 0px;
	color: rgb(181, 181, 181);
}

body section header img {
	display: none;
}

body section h2 {
	font-size: 0.9em;
	color: black;
}

body section p {
	font-size: 0.85em;
}

body section ul li {
	font-size: 0.85em;
}

footer {
	clear: left;
	background-color: white;
	color: black;
	text-align:center;
	vertical-align: middle;
	height: 30px;
	font-size: 0.7em;
}

/* =============================================
	Tablet layout styles used by devices
	481px to 768px.
   =============================================
*/


@media only screen and (min-width: 481px) {

body {
	font-size: 18px;
	min-height: 100%;
}

body header {
	width: 100%;

}

body section header img {
	float: right;
	display: block;
	width: 30%;
	margin: 0px 0px 30px 30px;
}

body section header h1 {
	font-size: 1.8em;
}

body section h2 {
	font-size: 1.15em;
}

body section p, body section ul li, body section address {
	font-size: 1em;
}

footer {
	font-size: 0.85em;
}

}

/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/

@media only screen and (min-width: 769px) {

html {
	background-image:url("back.png");
	background-repeat: none;
	background-position: none;
}

body {
	width: 90%;
	max-width: 1020px;
	-moz-box-shadow: rgba(61, 61, 61, 0.9) 20px 0px 25px,  rgba(61, 61, 61, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(61, 61, 61, 0.9) 20px 0px 25px,  rgba(61, 61, 61, 0.9) -20px 0px 25px;
	box-shadow: rgba(61, 61, 61, 0.9) 20px 0px 25px,  rgba(61, 61, 61, 0.9) -20px 0px 25px;
}

}
