@charset "utf-8";

/* Style inputs, select elements and text areas */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}

/* Style the submit button a color */
input[type=submit] {
  background-color: green;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over submit button change color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
